*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.navigation{
   
    width: 100%;
    height: 15vh;
    background: linear-gradient(57deg,#cc2b5e, #753a88);
    
}

.navigation li a{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    position: relative;
    top: 40px;
    font-size: 20px;
}

.heading h1{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 8px;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50px;
}

@media only screen and (max-width:600px){
    .navigation li a{
        font-size: 15px;
        position: relative;
        left: 40px;
        
    }  
    .heading h1{
        font-size: 15px;
    }

    .ceo{
      margin-left: -770px;
      
    }

    .getstart{
        margin-left: -1380px;
    }
    
}

.ceo{
    height: 200px;
    width: 200px;
    
    position: relative;
    top: 150px;
    text-align: center;
    left: 860px;
    border: none;
    border-radius: 100px;
    box-shadow: 10px 5px 10px;
    
}
html, body {margin: 0; height: 100%; overflow: hidden}

.ceo h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 30px;
    
}

.getstart {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(57deg,#cc2b5e, #753a88);
    color: white;
    position: relative;
    top: 200px;
    left: 869px;
    cursor: pointer;
}

.btn i{
    
    margin-left:10px ;
}

.getstart:hover{
    transform: scale(1.1);
}





