*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
   
    width: 100%;
    height: 15vh;
    background-color: black;
    
}

.navigation li a{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    position: relative;
    top: 40px;
    font-size: 20px;
}

.heading h1{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 8px;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50px;
}

@media only screen and (max-width:600px){
    .navigation li a{
        font-size: 15px;
        position: relative;
        left: 40px;
    }  
    .heading h1{
        font-size: 15px;
    }

    .ceo{
      margin-left: -770px;
        
    }
}

.ceo{
    height: 200px;
    width: 200px;
    
    position: relative;
    top: 150px;
    text-align: center;
    left: 860px;
    border: none;
    border-radius: 100px;
    box-shadow: 10px 5px 10px;
    
}

.ceo h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top: 30px;
    
}





