*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.main{
    width: 100%;
    height: 100vh;
    
   
}


.navigation{
    width: 100%;
    height: 15vh;
    background: linear-gradient(57deg,#cc2b5e, #753a88);
}

.navigation h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 6.5vh;
    font-size: 35px;
}

.service2{
    text-align: start;
    
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    width: 500px;
    height: 930px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 50px;
   box-shadow: 10px 5px 20px black;
   background:linear-gradient(57deg,#cc2b5e, #753a88) ;
   color: white;
    position: relative;
    left: 1500px;
    top: -960px;
}


.service2 h2{
    font-size: 35px;
    margin: 10px;
    font-weight: 200;
    position: relative;
    top: 50px;
}

.service p,h6,ul,li{
    font-size: 25px;
    margin: 10px;
    font-weight: lighter;
    position: relative;
    top: 50px;
}


.service{
    text-align: start;
    
    font-family: 'Roboto', sans-serif;
    margin:50px;
    margin-left: 600px;
    width: 500px;
    height: 930px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 50px;
   box-shadow: 10px 5px 20px black;
   background:linear-gradient(57deg,#cc2b5e, #753a88) ;
   color: white;
   
    
}


.service2 h2{
    font-size: 30px;
    
    font-weight: 200;
    position: relative;
    top: -10px;
}

.service2 p,h6,ul,li{
    font-size: 25px;
    margin: 10px;
    font-weight: lighter;
    position: relative;
    top: 50px;
}

.service2 button{
    position: relative;
    top: 290px;
    left: 55px;
    height: 55px;
    width: 250px;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    box-shadow: 5px 5px 25px black;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

@media only screen and (max-width:660px){
    .service{
        width: 350px;
        height:1070px;
        position: relative;
        left:-580px
        
    }
    .service2{
        width: 350px;
        height:570px;
        position: relative;
        top: 20px;
        left:-30px
    }
   .service2 button{

       position: relative;
       left: -10px;
       top: 80px;
   }
}